body{
    margin: 0px;
    padding: 0px;
    font-size:18px;
    overflow-x: hidden;
    background-image: url("image/background.jpg");
    background-repeat:no-repeat;
    background-size: 100% auto"
}
.form-group{
    margin: auto 34%;
    padding: 6px;
    font-weight: 600;
}
#star{
    color: red;
}
#btn{
    margin: auto 34%;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.error{
    color: red;
    font-family:verdana, Helvetica;
}


footer .footer-col {
    text-align: center;
    padding: 1px;
    background-color: black;
    color: white;
   margin-top: 20%;
  }
  footer p {
    margin-top: 10px;
  }
  
 @media screen and (max-width: 766px) {
 footer .footer-col{
      width: 168%;
      margin-top: 60%;
    }
    #login{
      width:100%;
      margin: 0px 33%;
    }
    .container{
      width:100%;
      margin: 9% 28%;
    }
    #swtich{
      width: 100%;
      margin: 9% 28%;
    }
}
    
    @media  screen and (max-width: 566px) {
      #login{
      width: 100%;
      margin: 0px 45%;
    }
    footer .footer-col{
        width: 168%;
        margin-bottom: 5px;
      }
      #login{
        width:login;
        margin: 0px 50%;
      }
    }
    @media  screen and (max-width: 624px) {
      footer .footer-col{
        width: 225%;
        margin-top: 157%;
      }
      #login{
        width:100%;
        margin: 0px 33%;
      }
      .container{
        width:100%;
        margin: 9% 38%;
      }
      #swtich{
        width: 100%;
        margin: 9% 28%;
      }
     
    }
    @media  screen and (max-width: 480px) {
      footer .footer-col{
        width: 235%;
        margin-top: 236%;
      }
    }
    
   
  


